html,body,.breed{
    height:100%;
}
.header{
    background:url(../images/header.jpg) no-repeat center center;
    background-size:cover;
    height:150px;
    .logo{
        display:block;width:1100px;height:100%;margin:0 auto;
        background:url(../images/logo.png) no-repeat center center;
        background-size:cover;
    }
}
.nav{
    height:60px;background:#fec;
    ul{
        height:60px;margin:0 auto;text-align:center;overflow:hidden;
        li{
            display:inline-block;height:40px;margin:10px;
            position:relative;
            a{
                display:block;padding:0 15px;overflow:hidden;
                font:bold 14px/40px 'Microsoft Yahei';
                background:#fff;border-radius:5px;
            }
            a:after{
                content:'';height:30px;position:absolute;right:-11px;top:5px;width:1px;background:#fff;
            }
        }
        .actived{
            a{
                background:#f84;
                color:#fff;
            }
        }
    }
}
.content{
    padding:10px 0;
    .normalBox{
        .title{
            height:46px;line-height:46px;
            position:relative;
            span{
                position:relative;z-index:1;background:#a00;color:#fff;padding:0 20px;
                float:left;font:bold 18px/46px "Microsoft Yahei";
            }
            span:after{
                border-left:solid 23px #a00;border-top:solid 23px transparent;border-bottom:solid 23px transparent;
                content:"";position:absolute;top:0;right:-23px;
            }
        }
        .title:before{
            content:"";position:absolute;top:0;left:0;width:100%;height:23px;
            background:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#fff));
            background:-moz-linear-gradient(top, #eee,#fff);
            background:linear-gradient(to bottom, #eee, #fff);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#eee,endColorstr=#fff,gradientType=0);
        }
        .title:after{
            content:"";position:absolute;top:23px;left:0;width:100%;height:23px;
            background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#eee));
            background:-moz-linear-gradient(top, #fff,#eee);
            background:linear-gradient(to bottom, #fff, #eee);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff,endColorstr=#eee,gradientType=0);
        }
        .cont{
            border:solid 1px #eee;
            li{
                height:40px;padding:0 15px;
                a{
                    float:left;width:70%;overflow:hidden;height:40px;line-height:40px;
                    color:#666;text-align:left;
                }
                span{
                    float:right;width:30%;overflow:hidden;height:40px;line-height:40px;
                    color:#999;text-align:right;
                }
            }
            li:hover{
                background:#fcf8f0;
            }
        }
    }
}
.footer{
    height:40px;text-align:center;font:normal 12px/40px "Microsoft Yahei";color:#999;
    span{
        color:#f88;
    }
}